.EDId0c {
    position: relative
}

.nhh4Ic {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    pointer-events: none
}

.nhh4Ic[data-state=snapping],
.nhh4Ic[data-state=cancelled] {
    transition: transform 200ms
}

.MGUFnf {
    display: block;
    width: 28px;
    height: 28px;
    padding: 15px;
    margin: 0 auto;
    transform: scale(0.7);
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2);
    transition: opacity 400ms
}

.nhh4Ic[data-state=resting] .MGUFnf,
.nhh4Ic[data-state=cooldown] .MGUFnf {
    transform: scale(0);
    transition: transform 150ms
}

.nhh4Ic .LLCa0e {
    stroke-width: 3.6px;
    transform: translateZ(1px)
}

.nhh4Ic[data-past-threshold=false] .LLCa0e {
    opacity: .3
}

.rOhAxb {
    fill: #4285f4;
    stroke: #4285f4
}

.A6UUqe {
    display: none;
    stroke-width: 3px;
    width: 28px;
    height: 28px
}

.tbcVO {
    width: 28px;
    height: 28px
}

.bQ7oke {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden
}

.A6UUqe.qs41qe {
    animation-name: quantumWizSpinnerRotate;
    animation-duration: 1568.63ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block
}

.A6UUqe.SdoWjb {
    display: inline-block
}

.A6UUqe.qs41qe .ceIWpc {
    stroke: none;
    fill: none
}

.A6UUqe.sf4e6b .qjUCkf {
    stroke-width: 0
}

.qjUCkf {
    transition: stroke-width 400ms;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 14px 14px;
    stroke-dasharray: 58.9 58.9;
    stroke-dashoffset: 58.9;
    fill: none;
    transform: rotate(0deg)
}

.A6UUqe.SdoWjb .qjUCkf {
    transition-duration: 0
}

.A6UUqe.iPwZeb .qjUCkf {
    animation-delay: -466ms, -466ms, -466ms
}

.A6UUqe.qs41qe .qjUCkf {
    animation-name: quantumWizSpinnerFillUnfill, quantumWizSpinnerRot, quantumWizSpinnerColors;
    animation-duration: 1333ms, 5332ms, 5332ms;
    animation-iteration-count: infinite, infinite, infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1), steps(4), linear;
    animation-fill-mode: forwards
}

@keyframes quantumWizSpinnerRotate {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes quantumWizSpinnerFillUnfill {
    0% {
        stroke-dashoffset: 58.8
    }

    50% {
        stroke-dashoffset: 0
    }

    to {
        stroke-dashoffset: -58.4
    }
}

@keyframes quantumWizSpinnerRot {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(-360deg)
    }
}

@keyframes quantumWizSpinnerColors {
    0% {
        stroke: #4285f4
    }

    18% {
        stroke: #4285f4
    }

    25% {
        stroke: #db4437
    }

    43% {
        stroke: #db4437
    }

    50% {
        stroke: #f4b400
    }

    68% {
        stroke: #f4b400
    }

    75% {
        stroke: #0f9d58
    }

    93% {
        stroke: #0f9d58
    }

    to {
        stroke: #4285f4
    }
}

.rFrNMe {
    -webkit-user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    outline: none;
    padding-bottom: 8px;
    width: 200px
}

.aCsJod {
    height: 40px;
    position: relative;
    vertical-align: top
}

.aXBtI {
    display: flex;
    position: relative;
    top: 14px
}

.Xb9hP {
    display: flex;
    box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0%;
    position: relative
}

.A37UZe {
    box-sizing: border-box;
    height: 24px;
    line-height: 24px;
    position: relative
}

.qgcB3c:not(:empty) {
    padding-right: 12px
}

.sxyYjd:not(:empty) {
    padding-left: 12px
}

.whsOnd {
    box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    display: block;
    font: 400 16px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    height: 24px;
    line-height: 24px;
    margin: 0;
    min-width: 0%;
    outline: none;
    padding: 0;
    z-index: 0
}

.rFrNMe.dm7YTc .whsOnd {
    color: #fff
}

.whsOnd:invalid,
.whsOnd:-moz-submit-invalid,
.whsOnd:-moz-ui-invalid {
    box-shadow: none
}

.I0VJ4d>.whsOnd::-ms-clear,
.I0VJ4d>.whsOnd::-ms-reveal {
    display: none
}

.i9lrp {
    background-color: rgba(0, 0, 0, .12);
    bottom: -2px;
    height: 1px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%
}

.i9lrp:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: -2px;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    pointer-events: none
}

.rFrNMe.dm7YTc .i9lrp {
    background-color: rgba(255, 255, 255, .7)
}

.OabDMe {
    transform: scaleX(0);
    background-color: #4285f4;
    bottom: -2px;
    height: 2px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%
}

.rFrNMe.dm7YTc .OabDMe {
    background-color: #a1c2fa
}

.rFrNMe.k0tWj .i9lrp,
.rFrNMe.k0tWj .OabDMe {
    background-color: #d50000;
    height: 2px
}

.rFrNMe.k0tWj.dm7YTc .i9lrp,
.rFrNMe.k0tWj.dm7YTc .OabDMe {
    background-color: #e06055
}

.whsOnd[disabled] {
    color: rgba(0, 0, 0, .38)
}

.rFrNMe.dm7YTc .whsOnd[disabled] {
    color: rgba(255, 255, 255, .5)
}

.whsOnd[disabled]~.i9lrp {
    background: none;
    border-bottom: 1px dotted rgba(0, 0, 0, .38)
}

.OabDMe.Y2Zypf {
    animation: quantumWizPaperInputRemoveUnderline .3s cubic-bezier(0.4, 0, 0.2, 1)
}

.rFrNMe.u3bW4e .OabDMe {
    animation: quantumWizPaperInputAddUnderline .3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(1)
}

.rFrNMe.sdJrJc>.aCsJod {
    padding-top: 24px
}

.AxOyFc {
    transform-origin: bottom left;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, bottom, transform;
    -webkit-transition-property: color, bottom, transform, -webkit-transform;
    transition-property: color, bottom, transform, -webkit-transform;
    color: rgba(0, 0, 0, .38);
    font: 400 16px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 16px;
    pointer-events: none;
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%
}

.whsOnd:not([disabled]):focus~.AxOyFc,
.whsOnd[badinput=true]~.AxOyFc,
.rFrNMe.CDELXb .AxOyFc,
.rFrNMe.dLgj8b .AxOyFc {
    transform: scale(0.75) translateY(-39px)
}

.whsOnd:not([disabled]):focus~.AxOyFc {
    color: #3367d6
}

.rFrNMe.dm7YTc .whsOnd:not([disabled]):focus~.AxOyFc {
    color: #a1c2fa
}

.rFrNMe.k0tWj .whsOnd:not([disabled]):focus~.AxOyFc {
    color: #d50000
}

.ndJi5d {
    color: rgba(0, 0, 0, .38);
    font: 400 16px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    top: 2px;
    left: 0;
    white-space: nowrap
}

.rFrNMe.CDELXb .ndJi5d {
    display: none
}

.K0Y8Se {
    -webkit-tap-highlight-color: transparent;
    font: 400 12px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    height: 16px;
    margin-left: auto;
    padding-left: 16px;
    padding-top: 8px;
    pointer-events: none;
    opacity: .3;
    white-space: nowrap
}

.rFrNMe.dm7YTc .AxOyFc,
.rFrNMe.dm7YTc .K0Y8Se,
.rFrNMe.dm7YTc .ndJi5d {
    color: rgba(255, 255, 255, .7)
}

.rFrNMe.Tyc9J {
    padding-bottom: 4px
}

.dEOOab,
.ovnfwe:not(:empty) {
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    font: 400 12px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    min-height: 16px;
    padding-top: 8px
}

.LXRPh {
    display: flex
}

.ovnfwe {
    pointer-events: none
}

.dEOOab {
    color: #d50000
}

.rFrNMe.dm7YTc .dEOOab,
.rFrNMe.dm7YTc.k0tWj .whsOnd:not([disabled]):focus~.AxOyFc {
    color: #e06055
}

.ovnfwe {
    opacity: .3
}

.rFrNMe.dm7YTc .ovnfwe {
    color: rgba(255, 255, 255, .7);
    opacity: 1
}

.rFrNMe.k0tWj .ovnfwe,
.rFrNMe:not(.k0tWj) .ovnfwe:not(:empty)+.dEOOab {
    display: none
}

@keyframes quantumWizPaperInputRemoveUnderline {
    0% {
        transform: scaleX(1);
        opacity: 1
    }

    to {
        transform: scaleX(1);
        opacity: 0
    }
}

@keyframes quantumWizPaperInputAddUnderline {
    0% {
        transform: scaleX(0)
    }

    to {
        transform: scaleX(1)
    }
}

.KL4X6e {
    background: #eee;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0
}

.TuA45b {
    opacity: .8
}

.O0WRkf {
    -webkit-user-select: none;
    transition: background .2s .1s;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    min-width: 4em;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
    z-index: 0
}

.A9jyad {
    font-size: 13px;
    line-height: 16px
}

.zZhnYe {
    transition: box-shadow .28s cubic-bezier(0.4, 0, 0.2, 1);
    background: #dfdfdf;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .14), 0px 3px 1px -2px rgba(0, 0, 0, .12), 0px 1px 5px 0px rgba(0, 0, 0, .2)
}

.zZhnYe.qs41qe {
    transition: box-shadow .28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background .8s;
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, .14), 0px 3px 14px 2px rgba(0, 0, 0, .12), 0px 5px 5px -3px rgba(0, 0, 0, .2)
}

.e3Duub,
.e3Duub a,
.e3Duub a:hover,
.e3Duub a:link,
.e3Duub a:visited {
    background: #4285f4;
    color: #fff
}

.HQ8yf,
.HQ8yf a {
    color: #4285f4
}

.UxubU,
.UxubU a {
    color: #fff
}

.ZFr60d {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent
}

.O0WRkf.u3bW4e .ZFr60d {
    background-color: rgba(0, 0, 0, .12)
}

.UxubU.u3bW4e .ZFr60d {
    background-color: rgba(255, 255, 255, .3)
}

.e3Duub.u3bW4e .ZFr60d {
    background-color: rgba(0, 0, 0, 0.122)
}

.HQ8yf.u3bW4e .ZFr60d {
    background-color: rgba(66, 133, 244, .15)
}

.Vwe4Vb {
    transform: translate(-50%, -50%) scale(0);
    transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s;
    -webkit-transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s, -webkit-transform 0s ease .2s;
    transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s, -webkit-transform 0s ease .2s;
    background-size: cover;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    visibility: hidden
}

.O0WRkf.qs41qe .Vwe4Vb {
    transform: translate(-50%, -50%) scale(2.2);
    opacity: 1;
    visibility: visible
}

.O0WRkf.qs41qe.M9Bg4d .Vwe4Vb {
    -webkit-transition: opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), opacity .2s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1)
}

.O0WRkf.j7nIZb .Vwe4Vb {
    transform: translate(-50%, -50%) scale(2.2);
    visibility: visible
}

.oG5Srb .Vwe4Vb,
.zZhnYe .Vwe4Vb {
    background-image: radial-gradient(circle farthest-side, rgba(0, 0, 0, .12), rgba(0, 0, 0, .12) 80%, rgba(0, 0, 0, 0) 100%)
}

.HQ8yf .Vwe4Vb {
    background-image: radial-gradient(circle farthest-side, rgba(66, 133, 244, .25), rgba(66, 133, 244, .25) 80%, rgba(66, 133, 244, 0) 100%)
}

.e3Duub .Vwe4Vb {
    background-image: radial-gradient(circle farthest-side, #3367d6, #3367d6 80%, rgba(51, 103, 214, 0) 100%)
}

.UxubU .Vwe4Vb {
    background-image: radial-gradient(circle farthest-side, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3) 80%, rgba(255, 255, 255, 0) 100%)
}

.O0WRkf.RDPZE {
    box-shadow: none;
    color: rgba(68, 68, 68, 0.502);
    cursor: default;
    fill: rgba(68, 68, 68, 0.502)
}

.zZhnYe.RDPZE {
    background: rgba(153, 153, 153, .1)
}

.UxubU.RDPZE {
    color: rgba(255, 255, 255, 0.502);
    fill: rgba(255, 255, 255, 0.502)
}

.UxubU.zZhnYe.RDPZE {
    background: rgba(204, 204, 204, .1)
}

.CwaK9 {
    position: relative
}

.RveJvd {
    display: inline-block;
    margin: .5em
}

.FKF6mc,
.FKF6mc:focus {
    display: block;
    outline: none;
    text-decoration: none
}

.FKF6mc:visited {
    fill: inherit;
    stroke: inherit
}

.U26fgb.u3bW4e {
    outline: 1px solid transparent
}

.mUbCce {
    -webkit-user-select: none;
    transition: background .3s;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    height: 48px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    width: 48px;
    z-index: 0
}

.mUbCce>.TpQm9d {
    height: 48px;
    width: 48px
}

.mUbCce.u3bW4e,
.mUbCce.qs41qe,
.mUbCce.j7nIZb {
    -webkit-transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%)
}

.YYBxpf {
    border-radius: 0;
    overflow: visible
}

.YYBxpf.u3bW4e,
.YYBxpf.qs41qe,
.YYBxpf.j7nIZb {
    -webkit-mask-image: none
}

.fKz7Od {
    color: rgba(0, 0, 0, .54);
    fill: rgba(0, 0, 0, .54)
}

.p9Nwte {
    color: rgba(255, 255, 255, .75);
    fill: rgba(255, 255, 255, .75)
}

.fKz7Od.u3bW4e {
    background-color: rgba(0, 0, 0, .12)
}

.p9Nwte.u3bW4e {
    background-color: rgba(204, 204, 204, .25)
}

.YYBxpf.u3bW4e {
    background-color: transparent
}

.VTBa7b {
    transform: translate(-50%, -50%) scale(0);
    transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s;
    -webkit-transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s, -webkit-transform 0s ease .2s;
    transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s, -webkit-transform 0s ease .2s;
    background-size: cover;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    visibility: hidden
}

.YYBxpf.u3bW4e .VTBa7b {
    animation: quantumWizIconFocusPulse .7s infinite alternate;
    height: 100%;
    left: 50%;
    top: 50%;
    width: 100%;
    visibility: visible
}

.mUbCce.qs41qe .VTBa7b {
    transform: translate(-50%, -50%) scale(2.2);
    opacity: 1;
    visibility: visible
}

.mUbCce.qs41qe.M9Bg4d .VTBa7b {
    -webkit-transition: opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), opacity .2s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1)
}

.mUbCce.j7nIZb .VTBa7b {
    transform: translate(-50%, -50%) scale(2.2);
    visibility: visible
}

.fKz7Od .VTBa7b {
    background-image: radial-gradient(circle farthest-side, rgba(0, 0, 0, .12), rgba(0, 0, 0, .12) 80%, rgba(0, 0, 0, 0) 100%)
}

.p9Nwte .VTBa7b {
    background-image: radial-gradient(circle farthest-side, rgba(204, 204, 204, .25), rgba(204, 204, 204, .25) 80%, rgba(204, 204, 204, 0) 100%)
}

.mUbCce.RDPZE {
    color: rgba(0, 0, 0, .26);
    fill: rgba(0, 0, 0, .26);
    cursor: default
}

.p9Nwte.RDPZE {
    color: rgba(255, 255, 255, 0.502);
    fill: rgba(255, 255, 255, 0.502)
}

.xjKiLb {
    position: relative;
    top: 50%
}

.xjKiLb>span {
    display: inline-block;
    position: relative
}

.C0oVfc {
    line-height: 20px;
    min-width: 88px
}

.C0oVfc .RveJvd {
    margin: 8px
}

.fb0g6 {
    position: relative
}

.llhEMd {
    transition: opacity .15s cubic-bezier(0.4, 0, 0.2, 1) .15s;
    background-color: rgba(0, 0, 0, 0.502);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5000
}

.llhEMd.iWO5td {
    transition: opacity .05s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1
}

.mjANdc {
    transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-box-align: center;
    box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    bottom: 0;
    left: 0;
    padding: 0 5%;
    position: absolute;
    right: 0;
    top: 0
}

.x3wWge,
.ONJhl {
    display: block;
    height: 3em
}

.eEPege>.x3wWge,
.eEPege>.ONJhl {
    box-flex: 1;
    flex-grow: 1
}

.J9Nfi {
    flex-shrink: 1;
    max-height: 100%
}

.g3VIld {
    -webkit-box-align: stretch;
    box-align: stretch;
    align-items: stretch;
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    transition: transform .225s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: transform .225s cubic-bezier(0, 0, 0.2, 1), -webkit-transform .225s cubic-bezier(0, 0, 0.2, 1);
    transition: transform .225s cubic-bezier(0, 0, 0.2, 1), -webkit-transform .225s cubic-bezier(0, 0, 0.2, 1);
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24);
    max-width: 24em;
    outline: 1px solid transparent;
    overflow: hidden
}

.vcug3d .g3VIld {
    padding: 0
}

.g3VIld.kdCdqc {
    transition: transform .15s cubic-bezier(0.4, 0, 1, 1);
    -webkit-transition: transform .15s cubic-bezier(0.4, 0, 1, 1), -webkit-transform .15s cubic-bezier(0.4, 0, 1, 1);
    transition: transform .15s cubic-bezier(0.4, 0, 1, 1), -webkit-transform .15s cubic-bezier(0.4, 0, 1, 1)
}

.Up8vH.CAwICe {
    transform: scale(0.8)
}

.Up8vH.kdCdqc {
    transform: scale(0.9)
}

.vcug3d {
    -webkit-box-align: stretch;
    box-align: stretch;
    align-items: stretch;
    padding: 0
}

.vcug3d>.g3VIld {
    box-flex: 2;
    flex-grow: 2;
    border-radius: 0;
    left: 0;
    right: 0;
    max-width: 100%
}

.vcug3d>.ONJhl,
.vcug3d>.x3wWge {
    box-flex: 0;
    flex-grow: 0;
    height: 0
}

.tOrNgd {
    display: flex;
    flex-shrink: 0;
    font: 500 20px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    padding: 24px 24px 20px 24px
}

.vcug3d .tOrNgd {
    display: none
}

.TNczib {
    box-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-shrink: 0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .24);
    background-color: #455a64;
    color: white;
    display: none;
    font: 500 20px Roboto, RobotoDraft, Helvetica, Arial, sans-serif
}

.vcug3d .TNczib {
    display: flex
}

.PNenzf {
    box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    word-wrap: break-word
}

.TNczib .PNenzf {
    margin: 16px 0
}

.VY7JQd {
    height: 0
}

.TNczib .VY7JQd,
.tOrNgd .bZWIgd {
    display: none
}

.R6Lfte .Wtw8H {
    flex-shrink: 0;
    display: block;
    margin: -12px -6px 0 0
}

.PbnGhe {
    box-flex: 2;
    flex-grow: 2;
    flex-shrink: 2;
    display: block;
    font: 400 14px/20px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    padding: 0 24px;
    overflow-y: auto
}

.Whe8ub .PbnGhe {
    padding-top: 24px
}

.hFEqNb .PbnGhe {
    padding-bottom: 24px
}

.vcug3d .PbnGhe {
    padding: 16px
}

.XfpsVe {
    display: flex;
    flex-shrink: 0;
    box-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 24px 24px 16px 24px
}

.vcug3d .XfpsVe {
    display: none
}

.OllbWe {
    box-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    display: none
}

.vcug3d .OllbWe {
    display: flex;
    -webkit-box-align: start;
    box-align: start;
    align-items: flex-start;
    margin: 0 16px
}

.kHssdc.O0WRkf.C0oVfc,
.XfpsVe .O0WRkf.C0oVfc {
    min-width: 64px
}

.kHssdc+.kHssdc {
    margin-left: 8px
}

.TNczib .kHssdc {
    color: #fff;
    margin-top: 10px
}

.TNczib .Wtw8H {
    margin: 4px 24px 4px 0
}

.TNczib .kHssdc.u3bW4e,
.TNczib .Wtw8H.u3bW4e {
    background-color: rgba(204, 204, 204, .25)
}

.TNczib .kHssdc>.Vwe4Vb,
.TNczib .Wtw8H>.VTBa7b {
    background-image: radial-gradient(circle farthest-side, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3) 80%, rgba(255, 255, 255, 0) 100%)
}

.TNczib .kHssdc.RDPZE,
.TNczib .Wtw8H.RDPZE {
    color: rgba(255, 255, 255, .5);
    fill: rgba(255, 255, 255, .5)
}

.EmVfjc {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px
}

.Cg7hO {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden
}

.xu46lf {
    width: 100%;
    height: 100%
}

.EmVfjc.qs41qe .xu46lf {
    animation: spinner-container-rotate 1568ms linear infinite
}

.ir3uv {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0
}

.uWlRce {
    border-color: #4285f4
}

.GFoASc {
    border-color: #db4437
}

.WpeOqd {
    border-color: #f4b400
}

.rHV3jf {
    border-color: #0f9d58
}

.EmVfjc.qs41qe .ir3uv.uWlRce {
    animation: spinner-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, spinner-blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.EmVfjc.qs41qe .ir3uv.GFoASc {
    animation: spinner-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, spinner-red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.EmVfjc.qs41qe .ir3uv.WpeOqd {
    animation: spinner-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, spinner-yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.EmVfjc.qs41qe .ir3uv.rHV3jf {
    animation: spinner-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, spinner-green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.HBnAAc {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit
}

.HBnAAc .X6jHbb {
    width: 1000%;
    left: -450%
}

.xq3j6 {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit
}

.xq3j6 .X6jHbb {
    width: 200%
}

.X6jHbb {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: none
}

.xq3j6.ERcjC .X6jHbb {
    border-right-color: transparent;
    transform: rotate(129deg)
}

.xq3j6.dj3yTd .X6jHbb {
    left: -100%;
    border-left-color: transparent;
    transform: rotate(-129deg)
}

.EmVfjc.qs41qe .xq3j6.ERcjC .X6jHbb {
    animation: spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.EmVfjc.qs41qe .xq3j6.dj3yTd .X6jHbb {
    animation: spinner-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.EmVfjc.sf4e6b .xu46lf {
    animation: spinner-container-rotate 1568ms linear infinite, spinner-fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1)
}

@keyframes spinner-container-rotate {
    to {
        transform: rotate(360deg)
    }
}

@keyframes spinner-fill-unfill-rotate {
    12.5% {
        transform: rotate(135deg)
    }

    25% {
        transform: rotate(270deg)
    }

    37.5% {
        transform: rotate(405deg)
    }

    50% {
        transform: rotate(540deg)
    }

    62.5% {
        transform: rotate(675deg)
    }

    75% {
        transform: rotate(810deg)
    }

    87.5% {
        transform: rotate(945deg)
    }

    to {
        transform: rotate(1080deg)
    }
}

@keyframes spinner-blue-fade-in-out {
    0% {
        opacity: .99
    }

    25% {
        opacity: .99
    }

    26% {
        opacity: 0
    }

    89% {
        opacity: 0
    }

    90% {
        opacity: .99
    }

    to {
        opacity: .99
    }
}

@keyframes spinner-red-fade-in-out {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0
    }

    25% {
        opacity: .99
    }

    50% {
        opacity: .99
    }

    51% {
        opacity: 0
    }
}

@keyframes spinner-yellow-fade-in-out {
    0% {
        opacity: 0
    }

    40% {
        opacity: 0
    }

    50% {
        opacity: .99
    }

    75% {
        opacity: .99
    }

    76% {
        opacity: 0
    }
}

@keyframes spinner-green-fade-in-out {
    0% {
        opacity: 0
    }

    65% {
        opacity: 0
    }

    75% {
        opacity: .99
    }

    90% {
        opacity: .99
    }

    to {
        opacity: 0
    }
}

@keyframes spinner-left-spin {
    0% {
        transform: rotate(130deg)
    }

    50% {
        transform: rotate(-5deg)
    }

    to {
        transform: rotate(130deg)
    }
}

@keyframes spinner-right-spin {
    0% {
        transform: rotate(-130deg)
    }

    50% {
        transform: rotate(5deg)
    }

    to {
        transform: rotate(-130deg)
    }
}

@keyframes spinner-fade-out {
    0% {
        opacity: .99
    }

    to {
        opacity: 0
    }
}

.hUTled {
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 50px;
    z-index: 20001
}

.k7smx {
    background-color: #fff;
    bottom: 0;
    left: 0;
    opacity: .5;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20000
}

.VfPpkd-YAxtVc {
    background-color: #333333
}

.VfPpkd-gIZMF {
    color: rgba(255, 255, 255, .87)
}

.VfPpkd-YAxtVc {
    min-width: 344px
}

@media (max-width:344px),
(max-width:480px) {
    .VfPpkd-YAxtVc {
        min-width: 100%
    }
}

.VfPpkd-YAxtVc {
    max-width: 672px
}

.VfPpkd-YAxtVc {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)
}

.VfPpkd-YAxtVc {
    border-radius: 4px;
    border-radius: var(--mdc-shape-small, 4px)
}

.VfPpkd-Ng57nc {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    pointer-events: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.VfPpkd-Ng57nc-OWXEXe-uGFO6d,
.VfPpkd-Ng57nc-OWXEXe-FNFY6c,
.VfPpkd-Ng57nc-OWXEXe-FnSee {
    display: flex
}

.VfPpkd-Ng57nc-OWXEXe-FNFY6c .VfPpkd-gIZMF,
.VfPpkd-Ng57nc-OWXEXe-FNFY6c .VfPpkd-M6tBBc {
    visibility: visible
}

.VfPpkd-YAxtVc {
    padding-left: 0;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    transform: scale(.8);
    opacity: 0
}

.VfPpkd-YAxtVc::before {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    content: "";
    pointer-events: none
}

@media screen and (forced-colors:active) {
    .VfPpkd-YAxtVc::before {
        border-color: CanvasText
    }
}

[dir=rtl] .VfPpkd-YAxtVc,
.VfPpkd-YAxtVc[dir=rtl] {
    padding-left: 8px;
    padding-right: 0
}

.VfPpkd-Ng57nc-OWXEXe-FNFY6c .VfPpkd-YAxtVc {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
    transition: opacity .15s 0ms cubic-bezier(0, 0, .2, 1), transform .15s 0ms cubic-bezier(0, 0, .2, 1)
}

.VfPpkd-Ng57nc-OWXEXe-FnSee .VfPpkd-YAxtVc {
    transform: scale(1);
    transition: opacity 75ms 0ms cubic-bezier(.4, 0, 1, 1)
}

.VfPpkd-gIZMF {
    padding-left: 16px;
    padding-right: 8px;
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0;
    visibility: hidden;
    padding-top: 14px;
    padding-bottom: 14px
}

[dir=rtl] .VfPpkd-gIZMF,
.VfPpkd-gIZMF[dir=rtl] {
    padding-left: 8px;
    padding-right: 16px
}

.VfPpkd-gIZMF::before {
    display: inline;
    content: attr(data-mdc-snackbar-label-text)
}

.VfPpkd-M6tBBc {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    box-sizing: border-box;
    visibility: hidden
}

.VfPpkd-IkaYrd+.VfPpkd-TolmDb {
    margin-left: 8px;
    margin-right: 0
}

[dir=rtl] .VfPpkd-IkaYrd+.VfPpkd-TolmDb,
.VfPpkd-IkaYrd+.VfPpkd-TolmDb[dir=rtl] {
    margin-left: 0;
    margin-right: 8px
}

.VfPpkd-Ng57nc {
    z-index: 8;
    margin: 8px
}

.VfPpkd-Ng57nc-OWXEXe-eu7FSc .VfPpkd-gIZMF {
    padding-left: 16px;
    padding-right: 8px;
    padding-bottom: 12px
}

[dir=rtl] .VfPpkd-Ng57nc-OWXEXe-eu7FSc .VfPpkd-gIZMF,
.VfPpkd-Ng57nc-OWXEXe-eu7FSc .VfPpkd-gIZMF[dir=rtl] {
    padding-left: 8px;
    padding-right: 16px
}

.VfPpkd-Ng57nc-OWXEXe-eu7FSc .VfPpkd-YAxtVc {
    flex-direction: column;
    align-items: flex-start
}

.VfPpkd-Ng57nc-OWXEXe-eu7FSc .VfPpkd-M6tBBc {
    align-self: flex-end;
    margin-bottom: 8px
}

.VfPpkd-Ng57nc-OWXEXe-M1Soyc {
    justify-content: flex-start
}

.VfPpkd-gIZMF {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-family: var(--mdc-typography-body2-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
    font-size: .875rem;
    font-size: var(--mdc-typography-body2-font-size, .875rem);
    line-height: 1.25rem;
    line-height: var(--mdc-typography-body2-line-height, 1.25rem);
    font-weight: 400;
    font-weight: var(--mdc-typography-body2-font-weight, 400);
    letter-spacing: .0178571429em;
    letter-spacing: var(--mdc-typography-body2-letter-spacing, .0178571429em);
    text-decoration: inherit;
    -webkit-text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
    text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
    text-transform: inherit;
    text-transform: var(--mdc-typography-body2-text-transform, inherit)
}

.VfPpkd-IkaYrd:not(:disabled) {
    color: #bb86fc
}

.VfPpkd-IkaYrd .VfPpkd-Jh9lGc::before,
.VfPpkd-IkaYrd .VfPpkd-Jh9lGc::after {
    background-color: #bb86fc;
    background-color: var(--mdc-ripple-color, #bb86fc)
}

.VfPpkd-IkaYrd:hover .VfPpkd-Jh9lGc::before,
.VfPpkd-IkaYrd.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-Jh9lGc::before {
    opacity: .08;
    opacity: var(--mdc-ripple-hover-opacity, .08)
}

.VfPpkd-IkaYrd.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-Jh9lGc::before,
.VfPpkd-IkaYrd:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-Jh9lGc::before {
    transition-duration: 75ms;
    opacity: .24;
    opacity: var(--mdc-ripple-focus-opacity, .24)
}

.VfPpkd-IkaYrd:not(.VfPpkd-ksKsZd-mWPk3d) .VfPpkd-Jh9lGc::after {
    transition: opacity .15s linear
}

.VfPpkd-IkaYrd:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-Jh9lGc::after {
    transition-duration: 75ms;
    opacity: .24;
    opacity: var(--mdc-ripple-press-opacity, .24)
}

.VfPpkd-IkaYrd.VfPpkd-ksKsZd-mWPk3d {
    --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity, 0.24)
}

.VfPpkd-TolmDb {
    color: rgba(255, 255, 255, .87)
}

.VfPpkd-TolmDb .VfPpkd-Bz112c-Jh9lGc::before,
.VfPpkd-TolmDb .VfPpkd-Bz112c-Jh9lGc::after {
    background-color: rgba(255, 255, 255, .87);
    background-color: var(--mdc-ripple-color, rgba(255, 255, 255, .87))
}

.VfPpkd-TolmDb:hover .VfPpkd-Bz112c-Jh9lGc::before,
.VfPpkd-TolmDb.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-Bz112c-Jh9lGc::before {
    opacity: .08;
    opacity: var(--mdc-ripple-hover-opacity, .08)
}

.VfPpkd-TolmDb.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-Bz112c-Jh9lGc::before,
.VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-Bz112c-Jh9lGc::before {
    transition-duration: 75ms;
    opacity: .24;
    opacity: var(--mdc-ripple-focus-opacity, .24)
}

.VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d) .VfPpkd-Bz112c-Jh9lGc::after {
    transition: opacity .15s linear
}

.VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-Bz112c-Jh9lGc::after {
    transition-duration: 75ms;
    opacity: .24;
    opacity: var(--mdc-ripple-press-opacity, .24)
}

.VfPpkd-TolmDb.VfPpkd-ksKsZd-mWPk3d {
    --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity, 0.24)
}

.VfPpkd-TolmDb.VfPpkd-TolmDb {
    width: 36px;
    height: 36px;
    padding: 6px;
    font-size: 18px
}

.VfPpkd-TolmDb.VfPpkd-TolmDb.VfPpkd-Bz112c-LgbsSe-OWXEXe-e5LLRc-SxQuSe .VfPpkd-Bz112c-Jh9lGc {
    width: 36px;
    height: 36px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0
}

.VfPpkd-TolmDb.VfPpkd-TolmDb.VfPpkd-Bz112c-LgbsSe-OWXEXe-e5LLRc-SxQuSe .VfPpkd-Bz112c-J1Ukfc-LhBDec {
    max-height: 36px;
    max-width: 36px
}

.VfPpkd-TolmDb.VfPpkd-TolmDb .VfPpkd-Bz112c-RLmnJb {
    position: absolute;
    top: 50%;
    height: 36px;
    left: 50%;
    width: 36px;
    transform: translate(-50%, -50%)
}

.VOBzC {
    margin: 24px
}

.VOBzC .VfPpkd-YAxtVc {
    background-color: rgb(32, 33, 36)
}

.VOBzC .VfPpkd-gIZMF {
    color: rgb(232, 234, 237)
}

.VOBzC .VfPpkd-IkaYrd:not(:disabled) {
    background-color: transparent
}

.VOBzC .VfPpkd-IkaYrd:not(:disabled) {
    color: rgb(138, 180, 248);
    color: var(--gm-colortextbutton-ink-color, rgb(138, 180, 248))
}

.VOBzC .VfPpkd-IkaYrd:disabled {
    color: rgba(232, 234, 237, .38);
    color: var(--gm-colortextbutton-disabled-ink-color, rgba(232, 234, 237, .38))
}

.VOBzC .VfPpkd-IkaYrd .VfPpkd-UdE5de-uDEFge .VfPpkd-JGcpL-uI4vCe-LkdAo,
.VOBzC .VfPpkd-IkaYrd .VfPpkd-UdE5de-uDEFge .VfPpkd-JGcpL-IdXvz-LkdAo-Bd00G {
    stroke: rgb(138, 180, 248)
}

@media (-ms-high-contrast:active),
screen and (forced-colors:active) {

    .VOBzC .VfPpkd-IkaYrd .VfPpkd-UdE5de-uDEFge .VfPpkd-JGcpL-uI4vCe-LkdAo,
    .VOBzC .VfPpkd-IkaYrd .VfPpkd-UdE5de-uDEFge .VfPpkd-JGcpL-IdXvz-LkdAo-Bd00G {
        stroke: CanvasText
    }
}

.VOBzC .VfPpkd-IkaYrd:hover:not(:disabled),
.VOBzC .VfPpkd-IkaYrd.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe:not(:disabled),
.VOBzC .VfPpkd-IkaYrd:not(.VfPpkd-ksKsZd-mWPk3d):focus:not(:disabled),
.VOBzC .VfPpkd-IkaYrd:active:not(:disabled) {
    color: rgb(174, 203, 250);
    color: var(--gm-colortextbutton-ink-color--stateful, rgb(174, 203, 250))
}

.VOBzC .VfPpkd-IkaYrd .VfPpkd-Jh9lGc::before,
.VOBzC .VfPpkd-IkaYrd .VfPpkd-Jh9lGc::after {
    background-color: rgb(174, 203, 250);
    background-color: var(--gm-colortextbutton-state-color, rgb(174, 203, 250))
}

.VOBzC .VfPpkd-IkaYrd:hover .VfPpkd-Jh9lGc::before,
.VOBzC .VfPpkd-IkaYrd.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-Jh9lGc::before {
    opacity: .04;
    opacity: var(--mdc-ripple-hover-opacity, .04)
}

.VOBzC .VfPpkd-IkaYrd.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-Jh9lGc::before,
.VOBzC .VfPpkd-IkaYrd:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-Jh9lGc::before {
    transition-duration: 75ms;
    opacity: .12;
    opacity: var(--mdc-ripple-focus-opacity, .12)
}

.VOBzC .VfPpkd-IkaYrd:not(.VfPpkd-ksKsZd-mWPk3d) .VfPpkd-Jh9lGc::after {
    transition: opacity .15s linear
}

.VOBzC .VfPpkd-IkaYrd:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-Jh9lGc::after {
    transition-duration: 75ms;
    opacity: .1;
    opacity: var(--mdc-ripple-press-opacity, .1)
}

.VOBzC .VfPpkd-IkaYrd.VfPpkd-ksKsZd-mWPk3d {
    --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity, 0.1)
}

.VOBzC .VfPpkd-IkaYrd:disabled:hover .VfPpkd-Jh9lGc::before,
.VOBzC .VfPpkd-IkaYrd:disabled.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-Jh9lGc::before {
    opacity: 0;
    opacity: var(--mdc-ripple-hover-opacity, 0)
}

.VOBzC .VfPpkd-IkaYrd:disabled.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-Jh9lGc::before,
.VOBzC .VfPpkd-IkaYrd:disabled:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-Jh9lGc::before {
    transition-duration: 75ms;
    opacity: 0;
    opacity: var(--mdc-ripple-focus-opacity, 0)
}

.VOBzC .VfPpkd-IkaYrd:disabled:not(.VfPpkd-ksKsZd-mWPk3d) .VfPpkd-Jh9lGc::after {
    transition: opacity .15s linear
}

.VOBzC .VfPpkd-IkaYrd:disabled:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-Jh9lGc::after {
    transition-duration: 75ms;
    opacity: 0;
    opacity: var(--mdc-ripple-press-opacity, 0)
}

.VOBzC .VfPpkd-IkaYrd:disabled.VfPpkd-ksKsZd-mWPk3d {
    --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity, 0)
}

.VOBzC .VfPpkd-TolmDb {
    color: rgb(232, 234, 237);
    z-index: 0
}

.VOBzC .VfPpkd-TolmDb:hover .VfPpkd-Bz112c-Jh9lGc::before,
.VOBzC .VfPpkd-TolmDb.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-Bz112c-Jh9lGc::before {
    opacity: .08;
    opacity: var(--mdc-ripple-hover-opacity, .08)
}

.VOBzC .VfPpkd-TolmDb.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-Bz112c-Jh9lGc::before,
.VOBzC .VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-Bz112c-Jh9lGc::before {
    opacity: .24;
    opacity: var(--mdc-ripple-focus-opacity, .24)
}

.VOBzC .VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-Bz112c-Jh9lGc::after {
    opacity: .24;
    opacity: var(--mdc-ripple-press-opacity, .24)
}

.VOBzC .VfPpkd-TolmDb.VfPpkd-ksKsZd-mWPk3d {
    --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity, 0.24)
}

.VOBzC .VfPpkd-TolmDb .VfPpkd-Bz112c-Jh9lGc::before,
.VOBzC .VfPpkd-TolmDb .VfPpkd-Bz112c-Jh9lGc::after {
    z-index: -1
}

.VOBzC .VfPpkd-TolmDb:disabled {
    color: rgba(232, 234, 237, .38);
    color: var(--gm-iconbutton-disabled-ink-color, rgba(232, 234, 237, .38))
}

.VOBzC .VfPpkd-TolmDb .VfPpkd-Bz112c-Jh9lGc::before,
.VOBzC .VfPpkd-TolmDb .VfPpkd-Bz112c-Jh9lGc::after {
    background-color: rgb(232, 234, 237);
    background-color: var(--mdc-ripple-color, rgb(232, 234, 237))
}

.VOBzC .VfPpkd-TolmDb:hover .VfPpkd-Bz112c-Jh9lGc::before,
.VOBzC .VfPpkd-TolmDb.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-Bz112c-Jh9lGc::before {
    opacity: .04;
    opacity: var(--mdc-ripple-hover-opacity, .04)
}

.VOBzC .VfPpkd-TolmDb.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-Bz112c-Jh9lGc::before,
.VOBzC .VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-Bz112c-Jh9lGc::before {
    transition-duration: 75ms;
    opacity: .12;
    opacity: var(--mdc-ripple-focus-opacity, .12)
}

.VOBzC .VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d) .VfPpkd-Bz112c-Jh9lGc::after {
    transition: opacity .15s linear
}

.VOBzC .VfPpkd-TolmDb:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-Bz112c-Jh9lGc::after {
    transition-duration: 75ms;
    opacity: .1;
    opacity: var(--mdc-ripple-press-opacity, .1)
}

.VOBzC .VfPpkd-TolmDb.VfPpkd-ksKsZd-mWPk3d {
    --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity, 0.1)
}

.VOBzC .VfPpkd-TolmDb:disabled:hover .VfPpkd-Jh9lGc::before,
.VOBzC .VfPpkd-TolmDb:disabled.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-Jh9lGc::before {
    opacity: 0;
    opacity: var(--mdc-ripple-hover-opacity, 0)
}

.VOBzC .VfPpkd-TolmDb:disabled.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-Jh9lGc::before,
.VOBzC .VfPpkd-TolmDb:disabled:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-Jh9lGc::before {
    transition-duration: 75ms;
    opacity: 0;
    opacity: var(--mdc-ripple-focus-opacity, 0)
}

.VOBzC .VfPpkd-TolmDb:disabled:not(.VfPpkd-ksKsZd-mWPk3d) .VfPpkd-Jh9lGc::after {
    transition: opacity .15s linear
}

.VOBzC .VfPpkd-TolmDb:disabled:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-Jh9lGc::after {
    transition-duration: 75ms;
    opacity: 0;
    opacity: var(--mdc-ripple-press-opacity, 0)
}

.VOBzC .VfPpkd-TolmDb:disabled.VfPpkd-ksKsZd-mWPk3d {
    --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity, 0)
}

.VOBzC .VfPpkd-TolmDb {
    width: 36px;
    height: 36px;
    padding: 6px
}

.VOBzC .VfPpkd-TolmDb.VfPpkd-Bz112c-LgbsSe-OWXEXe-e5LLRc-SxQuSe .VfPpkd-Bz112c-Jh9lGc {
    width: 36px;
    height: 36px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0
}

.VOBzC .VfPpkd-TolmDb.VfPpkd-Bz112c-LgbsSe-OWXEXe-e5LLRc-SxQuSe .VfPpkd-Bz112c-J1Ukfc-LhBDec {
    max-height: 36px;
    max-width: 36px
}

.VOBzC .VfPpkd-TolmDb .VfPpkd-Bz112c-RLmnJb {
    position: absolute;
    top: 50%;
    height: 36px;
    left: 50%;
    width: 36px;
    transform: translate(-50%, -50%)
}

.drrice .i5DZme {
    color: #33691e
}

.K1b9Kc .i5DZme {
    color: #01579b
}

.q9QOMe .i5DZme {
    color: #a52714
}

.drrice .cJSJvc {
    background-color: #689f38
}

.K1b9Kc .cJSJvc {
    background-color: #039be5
}

.q9QOMe .cJSJvc {
    background-color: #ed3b3b
}

.drrice .OvVWOc {
    color: #689f38
}

.K1b9Kc .OvVWOc {
    color: #039be5
}

.q9QOMe .OvVWOc {
    color: #ed3b3b
}

.D4ALMb {
    display: none
}

.bYEzqc {
    background-color: rgba(255, 255, 255, .8)
}

.bYEzqc.LAhoGb {
    background-color: rgba(0, 0, 0, .75)
}

.bYEzqc.ZCaYnd {
    background-color: rgba(0, 0, 0, .9)
}

.LhXUod {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 11px 15px 1px rgba(0, 0, 0, .14), 0 4px 20px 3px rgba(0, 0, 0, .12), 0 6px 7px -4px rgba(0, 0, 0, .2);
    max-width: none;
    outline: none;
    overflow: visible
}

.t89eC {
    max-width: 40em
}

@media screen and (max-width:480px) {
    .t89eC {
        max-width: 100%
    }
}

.so3xDb {
    cursor: default
}

.so3xDb .XAUpld {
    margin-left: 16px
}

html[dir=rtl] .so3xDb .XAUpld {
    margin-left: 0;
    margin-right: 16px
}

.MSFxAb {
    left: 40px;
    min-height: 150px;
    position: absolute;
    top: -40px;
    width: 150px;
    z-index: 1
}

@media screen and (max-width:480px) {
    .MSFxAb {
        display: none
    }
}

.Pq2lFf,
.Q2n72b {
    padding-left: 40px
}

.Pq2lFf {
    padding-right: 40px
}

.gZccZc {
    padding-left: 224px
}

@media screen and (max-width:480px) {
    .gZccZc {
        padding-left: 40px
    }
}

.dIodBf {
    display: inline-block
}

.miUA7 {
    font-size: 26px
}

.LruL2b {
    color: #616161;
    font-size: 13px;
    font-weight: 500
}

.oMtcG {
    font-size: 20px;
    font-weight: 400
}

.drrice .oMtcG {
    color: #558b2f
}

.ZCaYnd .VY7JQd .Wtw8H {
    margin-right: 6px
}

.ZCaYnd .tOrNgd {
    margin-bottom: 12px
}

.ZCaYnd .PNenzf {
    visibility: hidden
}

.ZCaYnd .VY7JQd .xjKiLb {
    fill: white
}

.qlYO9b {
    left: 0;
    padding: 12px;
    position: fixed;
    text-align: center;
    top: 6px;
    width: 100%;
    z-index: 20003
}

.Gq7XXc {
    border-radius: 3px;
    box-shadow: 0 2px 40px rgba(0, 0, 0, .4);
    background-color: #fe8;
    border: 1px solid #ba5;
    font-weight: 500;
    padding: 7px 14px
}

@media screen and (max-width:600px) {
    .qlYO9b {
        box-shadow: 0 2px 40px rgba(0, 0, 0, .4);
        background-color: #fe8;
        top: 48px;
        width: auto
    }

    .Gq7XXc {
        box-shadow: none;
        border: 0;
        font-size: 16px;
        font-weight: 300;
        padding: 0
    }
}

sentinel {}

.Fx1lse {
    text-align: center
}

.k8Lt0 .jy7Abe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

@media (max-height:fit-content48px) {
    .ZDGq3b .VfPpkd-P5QLlc {
        max-height: calc(100% - 48px)
    }
}

@media (min-height:fit-content48px) {
    .ZDGq3b .VfPpkd-P5QLlc {
        max-height: fit-content
    }
}

@media (-ms-high-contrast:active) and (min-height:fit-content48px),
(-ms-high-contrast:none) and (min-height:fit-content48px) {
    .ZDGq3b .VfPpkd-wzTsW {
        align-items: stretch;
        height: auto
    }
}

@media (max-width:528px) {
    .ZDGq3b .VfPpkd-P5QLlc {
        max-width: calc(100vw - 48px)
    }
}

@media (min-width:528px) {
    .ZDGq3b .VfPpkd-P5QLlc {
        max-width: 480px
    }
}

.ZDGq3b .VfPpkd-P5QLlc {
    min-width: calc(100vw - 32px)
}

.ZDGq3b .VfPpkd-cnG4Wd {
    padding: 24px 24px 18px 24px
}

@media screen and (min-width:720px) {
    .ZDGq3b .VfPpkd-P5QLlc {
        min-width: 600px
    }
}

@media screen and (min-width:720px) and (max-width:648px) {
    .ZDGq3b .VfPpkd-P5QLlc {
        max-width: calc(100vw - 48px)
    }
}

@media screen and (min-width:720px) and (min-width:648px) {
    .ZDGq3b .VfPpkd-P5QLlc {
        max-width: 600px
    }
}

.Gqr3Sb {
    --gap-width: 12px;
    margin: 12px -16px 0;
    overflow: visible;
    padding: 0 16px
}

.yUFvre {
    gap: var(--gap-width);
    padding: calc(var(--gap-width)/2) 0;
    padding-left: _get-adjusted-space("default");
    scroll-snap-type: unset
}

.nL1Pwe {
    cursor: pointer;
    padding: 10px 2px;
    text-align: center
}

.nL1Pwe:first-child {
    margin-left: 1px
}

.nL1Pwe:last-child {
    margin-right: 1px
}

.sdjgmb {
    width: 100%
}

.Q7vmV {
    align-items: center;
    margin-top: 8px;
    width: 100%
}

.RFcWe {
    left: -14px;
    top: 18px
}

.Hnoc8e {
    right: -14px;
    top: 18px
}

.RQQX4 {
    margin-left: 12px;
    margin-right: 8px
}

.RQQX4 .LFeKge,
.d8xGFb .LFeKge {
    height: 24px;
    width: 24px
}

.Q7vmV .o1gy8c {
    width: 100%
}

.Q7vmV .LFeKge {
    height: 24px;
    width: 24px
}

.RQQX4 .o1gy8c {
    margin-top: 2px
}

.o1gy8c:focus .csaeVc,
.o1gy8c:hover .csaeVc {
    color: #056449;
    fill: #056449;
    stop-color: #056449
}

.o1gy8c:focus .csaeVc:not(:disabled),
.o1gy8c:hover .csaeVc:not(:disabled) {
    color: #056449
}

.P9KVBf .o1gy8c:focus .csaeVc {
    color: #00b380;
    fill: #00b380;
    stop-color: #00b380
}

.P9KVBf .o1gy8c:focus .csaeVc:not(:disabled) {
    color: #00b380
}

.P9KVBf .o1gy8c:hover .csaeVc {
    color: #00b380;
    fill: #00b380;
    stop-color: #00b380
}

.P9KVBf .o1gy8c:hover .csaeVc:not(:disabled) {
    color: #00b380
}

.fmiEqb {
    display: none;
    margin: 10px 0;
    width: 100%
}

.X8BSVc:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-NSFCdd-Brv4Fb,
.X8BSVc:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-NSFCdd-Ra9xwd,
.X8BSVc:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-NSFCdd-MpmGFe {
    border-color: rgb(218, 220, 224)
}

.X8BSVc:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me):not(.VfPpkd-fmcmS-yrriRe-OWXEXe-XpnDCe):hover .VfPpkd-NSFCdd-i5vt6e .VfPpkd-NSFCdd-Brv4Fb,
.X8BSVc:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me):not(.VfPpkd-fmcmS-yrriRe-OWXEXe-XpnDCe):hover .VfPpkd-NSFCdd-i5vt6e .VfPpkd-NSFCdd-Ra9xwd,
.X8BSVc:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me):not(.VfPpkd-fmcmS-yrriRe-OWXEXe-XpnDCe):hover .VfPpkd-NSFCdd-i5vt6e .VfPpkd-NSFCdd-MpmGFe {
    border-color: rgb(218, 220, 224)
}

.X8BSVc:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me).VfPpkd-fmcmS-yrriRe-OWXEXe-XpnDCe .VfPpkd-NSFCdd-Brv4Fb,
.X8BSVc:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me).VfPpkd-fmcmS-yrriRe-OWXEXe-XpnDCe .VfPpkd-NSFCdd-Ra9xwd,
.X8BSVc:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me).VfPpkd-fmcmS-yrriRe-OWXEXe-XpnDCe .VfPpkd-NSFCdd-MpmGFe {
    border-color: rgb(218, 220, 224)
}

.X8BSVc:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me).VfPpkd-fmcmS-yrriRe-OWXEXe-XpnDCe .VfPpkd-NSFCdd-i5vt6e .VfPpkd-NSFCdd-Brv4Fb,
.X8BSVc:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me).VfPpkd-fmcmS-yrriRe-OWXEXe-XpnDCe .VfPpkd-NSFCdd-i5vt6e .VfPpkd-NSFCdd-Ra9xwd,
.X8BSVc:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me).VfPpkd-fmcmS-yrriRe-OWXEXe-XpnDCe .VfPpkd-NSFCdd-i5vt6e .VfPpkd-NSFCdd-MpmGFe {
    border-width: 1px
}

.J4Vmsd {
    width: 100%
}

.koWCib {
    color: #01875f;
    fill: #01875f;
    stop-color: #01875f
}

.koWCib:not(:disabled) {
    color: #01875f
}

.P9KVBf .koWCib {
    color: #00a173;
    fill: #00a173;
    stop-color: #00a173
}

.P9KVBf .koWCib:not(:disabled) {
    color: #00a173
}

@media screen and (min-width:600px) {
    .nL1Pwe {
        padding: 10px
    }

    .fmiEqb {
        display: inline-flex
    }

    .Q7vmV {
        display: none
    }
}

.Rvudpb {
    color: rgb(32, 33, 36);
    fill: rgb(32, 33, 36);
    stop-color: rgb(32, 33, 36);
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .0142857143em;
    line-height: 1.25rem
}

.Rvudpb:not(:disabled) {
    color: rgb(32, 33, 36)
}

.P9KVBf .Rvudpb {
    color: rgb(232, 234, 237);
    fill: rgb(232, 234, 237);
    stop-color: rgb(232, 234, 237)
}

.P9KVBf .Rvudpb:not(:disabled) {
    color: rgb(232, 234, 237)
}

.efXJRc {
    align-items: center;
    display: flex;
    flex-grow: 1
}

.PT2eod {
    border-radius: 8px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, .09), 0 3px 5px rgba(0, 0, 0, .06), 0 1px 2px rgba(0, 0, 0, .3), 0 1px 3px rgba(0, 0, 0, .15);
    flex-shrink: 0;
    height: 48px;
    margin-right: 16px;
    width: 48px
}

@media screen and (min-width:1280px) {
    .PT2eod {
        height: 56px;
        width: 56px
    }
}

.LUq2je {
    display: flex;
    flex-shrink: 0
}

.ksLHF {
    color: rgb(32, 33, 36);
    fill: rgb(32, 33, 36);
    stop-color: rgb(32, 33, 36);
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    line-height: 1.75rem;
    font-size: 1.375rem;
    letter-spacing: 0;
    font-weight: 400;
    font-weight: 500;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden
}

.ksLHF:not(:disabled) {
    color: rgb(32, 33, 36)
}

.P9KVBf .ksLHF {
    color: rgb(232, 234, 237);
    fill: rgb(232, 234, 237);
    stop-color: rgb(232, 234, 237)
}

.P9KVBf .ksLHF:not(:disabled) {
    color: rgb(232, 234, 237)
}

.cYHJbc {
    color: rgb(95, 99, 104);
    fill: rgb(95, 99, 104);
    stop-color: rgb(95, 99, 104);
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .0178571429em;
    line-height: 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    line-height: 1.75rem;
    overflow: hidden
}

.cYHJbc:not(:disabled) {
    color: rgb(95, 99, 104)
}

.P9KVBf .cYHJbc {
    color: rgb(154, 160, 166);
    fill: rgb(154, 160, 166);
    stop-color: rgb(154, 160, 166)
}

.P9KVBf .cYHJbc:not(:disabled) {
    color: rgb(154, 160, 166)
}

.EnisIf {
    margin: -12px -12px 0 0;
    min-width: 48px
}

@media (any-pointer:coarse) {
    .Gqr3Sb {
        margin: 12px 0;
        padding: 0
    }
}

.QnvSid.VOBzC {
    z-index: 2002
}

.XWz5yd {
    margin-left: 160px;
    padding: 0 20px 20px
}

@media screen and (max-width:480px) {
    .XWz5yd {
        margin-left: 0;
        padding-left: 0
    }
}

.iCVHHc {
    height: 215px;
    text-align: center;
    width: 160px
}

.FOYkDe {
    max-height: 215px;
    max-width: 160px
}

.Dtwbxf {
    font-size: 28px
}

.Hv8szf {
    text-align: right
}

.rYrxJf,
.rYrxJf:visited {
    color: #00838f;
    padding-left: 3px
}

.F9JOfb {
    margin-right: 3px
}

.H1RBrd {
    max-width: 500px
}

.UIeOBe {
    margin-top: 30px;
    min-height: 120px
}

.k2cXo {
    margin: 0
}

@media (max-height:732px) {
    .vFondc .VfPpkd-P5QLlc {
        max-height: calc(100% - 32px)
    }
}

@media (min-height:732px) {
    .vFondc .VfPpkd-P5QLlc {
        max-height: 700px
    }
}

@media (-ms-high-contrast:active) and (min-height:732px),
(-ms-high-contrast:none) and (min-height:732px) {
    .vFondc .VfPpkd-wzTsW {
        align-items: stretch;
        height: auto
    }
}

.xoKNSc {
    margin: 0 -24px;
    padding: 0 40px
}

.Ud1OW {
    background-color: #e9f0fe
}

.odk6He {
    display: grid;
    grid-template-columns: auto
}

.RHo1pe {
    padding: 15px 0
}

.RHo1pe:not(:first-child) {
    border-color: rgb(232, 234, 237);
    border-top: 1px solid
}

.RHo1pe:not(:first-child):not(:disabled) {
    border-color: rgb(232, 234, 237)
}

.P9KVBf .RHo1pe:not(:first-child) {
    border-color: rgb(60, 64, 67)
}

.P9KVBf .RHo1pe:not(:first-child):not(:disabled) {
    border-color: rgb(60, 64, 67)
}

.RbQjz {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    font-size: 1.15rem
}

.nitQ6d {
    display: none
}

.lMimMe {
    color: rgb(32, 33, 36);
    fill: rgb(32, 33, 36);
    stop-color: rgb(32, 33, 36);
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    line-height: 1.5rem;
    font-size: 1.125rem;
    letter-spacing: 0;
    font-weight: 400;
    align-items: center;
    display: flex
}

.lMimMe:not(:disabled) {
    color: rgb(32, 33, 36)
}

.P9KVBf .lMimMe {
    color: rgb(232, 234, 237);
    fill: rgb(232, 234, 237);
    stop-color: rgb(232, 234, 237)
}

.P9KVBf .lMimMe:not(:disabled) {
    color: rgb(232, 234, 237)
}

.UjXtlf {
    margin-top: 16px
}

.axjpce {
    margin-right: 4px
}

.BlLrjc {
    display: inline-block
}

.B4wkv {
    align-items: center;
    display: flex;
    margin: 24px 0 4px
}

.B4wkv .LjbECb {
    font-size: 18px;
    margin-right: 16px
}

.aPeBBe {
    color: rgb(32, 33, 36);
    fill: rgb(32, 33, 36);
    stop-color: rgb(32, 33, 36)
}

.aPeBBe:not(:disabled) {
    color: rgb(32, 33, 36)
}

.P9KVBf .aPeBBe {
    color: rgb(232, 234, 237);
    fill: rgb(232, 234, 237);
    stop-color: rgb(232, 234, 237)
}

.P9KVBf .aPeBBe:not(:disabled) {
    color: rgb(232, 234, 237)
}

.dnM39b {
    list-style: inside;
    margin-left: 34px
}

.Hxpbhb {
    font-family: Roboto, Arial, sans-serif;
    line-height: 1rem;
    font-size: .75rem;
    letter-spacing: .025em;
    font-weight: 400;
    align-items: center;
    display: flex
}

.RLg0jb {
    flex-shrink: 0;
    margin-left: 48px
}

@media screen and (min-width:600px) {
    .xNUmN {
        column-count: 2
    }
}

sentinel {}